@*
*@
@{
    ViewData["Title"] = "Subscribe Approve";
}

<div class="container success-wrp">
    <div class="row">
        <div class="col-12">
            <h1>@ViewBag.Message</h1>
        </div>
    </div>
</div>

@section addcss{
    <style>
        .success-wrp {
            padding: 5rem;
            text-align:center;
        }
    </style>

}